@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 44%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
  }

  /* month picker css */
  ._monthInputField_1ny07_1 {
    margin-bottom: 0px !important;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }
}

/* Loading spinner: */
.loadingSpinner {
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  display: block;
  margin: -50px auto 0;
  position: relative;
  color: #fff;
  transform: translate(-50%, 50vh) translateY(-50%);
  box-sizing: border-box;
  animation: loadingSpinnerAnimation 1.5s ease infinite;
}
.loadingSpinner::after,
.loadingSpinner::before {
  content: "";
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  color: #fff;
  position: absolute;
  left: 30px;
  top: 0;
  animation: loadingSpinnerAnimation 1.5s 0.2s ease infinite;
}
.loadingSpinner::before {
  animation-delay: 0.4s;
  left: 60px;
}

@keyframes loadingSpinnerAnimation {
  0% {
    top: 0;
    color: #31b9f7;
  }
  50% {
    top: 30px;
    color: rgba(255, 255, 255, 0.2);
  }
  100% {
    top: 0;
    color: #31b9f7;
  }
}
/* ========= The bg icons  ========= */
:root {
  /* --bg-icons: 50px; */
  --bg-icons: clamp(40px, 6vw, 60px);
}
.bg-icons-container {
  position: relative;
  background-color: #fff;
  z-index: -1;

  svg {
    opacity: 0.75;
    content: "";
    position: absolute;
    pointer-events: none;
    height: var(--bg-icons);
    width: var(--bg-icons);
    overflow: visible;
    stroke-width: 1.5px;
    /* background-size: 120%; */
    padding: 7px 1px 12px 1px;
    /* padding: 14px 6px 14px 1px; */
    color: #31b8f788;
    background: url("../../client/src/assets/bgIcons/icons-bg.svg") center
      no-repeat;
    animation: floatSwayRotate 5s ease-in-out infinite;
  }

  .book {
    top: 300px;
    left: 8vw;
    animation-delay: 0s;
  }
  .laptop {
    top: 300px;
    right: 10vw;
    animation-delay: 2s;
  }
  .icon.pencil {
    top:180px;
    left: 25vw;
    animation-delay: 1s;
  }
  .icon.handshake {
    top: 180px;
    right: 25vw;
    animation-delay: 2.5s;
  }
  .icon.school {
    top: 420px;
    left: 30vw;
    animation-delay: 1.2s;
  }
  .icon.growth {
    top: 130px;
    right: 45vw;
    animation-delay: 3s;
  }
  .icon.classroom {
    top: 400px;
    left: 70vw;
    animation-delay: 1.7s;
  }
}
@keyframes floatSwayRotate {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
  }
  25% {
    transform: translateY(-10px) translateX(5px) rotate(10deg);
  }
  50% {
    transform: translateY(-15px) translateX(0) rotate(0deg);
  }
  75% {
    transform: translateY(-10px) translateX(-5px) rotate(-10deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0deg);
  }
}
/* .bg-icons-container::before {
  content: "";
  position: absolute;
  top: 300px;
  left: 100px;
  background: url("https://www.svgrepo.com/show/535115/alien.svg") center/cover no-repeat;
  opacity: 0.95; 
  pointer-events: none;
  height: var(--bg-icons);
  width: var(--bg-icons);
} */

/* ========= bg particles ========= */
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
canvas {
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover; /* Optional: keep scaling smooth */
}
